.vs/
ZombieSharp/bin/*
ZombieSharp/obj/*
ZombieSharp/obj/ZombieSharp.csproj.nuget.g.props
ZombieSharp/obj/ZombieSharp.csproj.nuget.dgspec.json
ZombieSharp/obj/project.nuget.cache
ZombieSharp/obj/project.assets.json
ZombieSharp/obj/Debug/net7.0/ZombieSharp.GeneratedMSBuildEditorConfig.editorconfig
ZombieSharp/obj/Debug/net7.0/ZombieSharp.csproj.AssemblyReference.cache
ZombieSharp/obj/Debug/net7.0/ZombieSharp.assets.cache
/ZombieSharp/ZombieSharpAPI/obj
/ZombieSharp/ZombieSharpAPI/bin
/ZombieTest/bin
/ZombieTest/obj
/ZombieTest/ZombieSharpAPI/obj
/ZombieTest/ZombieSharpAPI/bin
